<template>
  <div
    class="h-screen w-full bg-gray-900 text-white flex flex-col items-center justify-center relative"
    @click="focusOnPage"
  >
    <!-- Header -->
    <div class="absolute top-4 left-4 text-xl font-bold">
      <p>Score: {{ score }}</p>
      <p class="text-sm mt-2 text-gray-400">Time Left: {{ timeLeft }}s</p>
    </div>
    <h1 class="text-3xl font-bold mb-4">Falling Letters Game</h1>
    <p class="mb-6 text-gray-300">Type any falling letter to remove it!</p>

    <!-- Game Area -->
    <div
      class="relative w-full h-[70%] bg-gray-800 border border-gray-700 rounded-lg overflow-hidden"
      ref="gameArea"
    >
      <div
        v-for="(letter, index) in fallingLetters"
        :key="index"
        :class="`absolute text-2xl font-bold transition-transform ease-linear`"
        :style="{
          left: letter.x + 'px',
          top: letter.y + 'px',
          color: letter.color,
        }"
      >
        {{ letter.char }}
      </div>
    </div>

    <!-- Game Over Screen -->
    <div
      v-if="gameOver"
      class="absolute top-0 left-0 w-full h-full bg-gray-900 bg-opacity-90 flex flex-col items-center justify-center text-center"
    >
      <h2 class="text-4xl font-bold mb-4">Game Over</h2>
      <p class="text-xl mb-4">Your Score: {{ score }}</p>
      <button
        class="px-6 py-2 bg-blue-600 text-white rounded-lg"
        @click="startGame"
      >
        Restart Game
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fallingLetters: [], // Array of falling letters
      score: 0, // Player's score
      timeLeft: 60, // Countdown timer (1 minute)
      gameOver: false, // Game over flag
      fallingSpeed: 2, // Falling speed
      spawnInterval: null, // Interval for spawning letters
      gameLoopInterval: null, // Interval for game loop
      timerInterval: null, // Interval for the countdown timer
      gameAreaWidth: 0, // Width of the game area
      gameAreaHeight: 0, // Height of the game area
      colors: ["#FF6B6B", "#4CAF50", "#FFD700", "#00BFFF", "#FF69B4"], // Random colors for letters
    };
  },
  methods: {
    startGame() {
      // Reset game state
      this.fallingLetters = [];
      this.score = 0;
      this.timeLeft = 60;
      this.gameOver = false;

      // Get game area dimensions
      const gameArea = this.$refs.gameArea;
      this.gameAreaWidth = gameArea.offsetWidth;
      this.gameAreaHeight = gameArea.offsetHeight;

      // Start spawning letters
      this.spawnInterval = setInterval(this.spawnLetter, 1000);

      // Start the game loop
      this.gameLoopInterval = setInterval(this.updateGame, 50);

      // Start the countdown timer
      this.timerInterval = setInterval(() => {
        this.timeLeft -= 1;
        if (this.timeLeft <= 0) {
          this.stopGame();
        }
      }, 1000);
    },
    stopGame() {
      clearInterval(this.spawnInterval);
      clearInterval(this.gameLoopInterval);
      clearInterval(this.timerInterval);
      this.gameOver = true;
    },
    spawnLetter() {
      const predefinedList = ["a", "b", "c", "d", "e", "f", "g"]; // Example predefined list
      const char = predefinedList[Math.floor(Math.random() * predefinedList.length)];
      const x = Math.random() * (this.gameAreaWidth - 20); // Random X position
      const color = this.colors[Math.floor(Math.random() * this.colors.length)]; // Random color

      this.fallingLetters.push({
        char,
        x,
        y: 0, // Start at the top
        color,
      });
    },
    updateGame() {
      // Move letters down
      this.fallingLetters = this.fallingLetters.map((letter) => ({
        ...letter,
        y: letter.y + this.fallingSpeed,
      }));

      // Remove letters that fall beyond the game area
      this.fallingLetters = this.fallingLetters.filter(
        (letter) => letter.y <= this.gameAreaHeight
      );
    },
    handleInput(typedChar) {
      const letterIndex = this.fallingLetters.findIndex(
        (letter) => letter.char === typedChar.toLowerCase()
      );

      if (letterIndex !== -1) {
        // Correct typing
        this.fallingLetters.splice(letterIndex, 1); // Remove the matched letter
        this.score += 1; // Increase score
      } else {
        // Incorrect typing
        this.score -= 1; // Decrease score
      }
    },
    focusOnPage() {
      // No action needed, just click to make it interactive
    },
  },
  mounted() {
    // Attach global keydown listener
    window.addEventListener("keydown", (event) => {
      this.handleInput(event.key);
    });

    this.startGame();
  },
  beforeDestroy() {
    // Clean up intervals and event listener
    clearInterval(this.spawnInterval);
    clearInterval(this.gameLoopInterval);
    clearInterval(this.timerInterval);
    window.removeEventListener("keydown", this.handleInput);
  },
};
</script>