<template>
  <div class="h-screen grid grid-flow-row grid-rows-[auto_1fr] bg-theme-code text-white">
    <!-- Tab Buttons -->
    <div class="flex px-2">
      <button
        class="px-4 py-2 font-medium transition"
        :class="activeTab === 'Code' 
          ? 'bg-theme-code text-white'
          : 'bg-black text-theme-light hover:bg-gray-600 rounded'"
        @click="writeCode"
      >
        <span class="animate-pulse text-green-100" v-if="activeTab === 'Code'">{ / }</span> Code
      </button>
      <button
        class="px-4 py-2 font-medium transition"
        :class="activeTab === 'Output'
          ? 'bg-theme-code text-white'
          : 'bg-black text-theme-light hover:bg-gray-600 rounded'"
        @click="getOutput"
      >
        Run <span class="relative" v-if="activeTab === 'Output'">
          <span class="animate-ping absolute text-red-300">&#10687;</span>
          <span class="text-red-300">&#10687;</span>
        </span>
      </button>
      <div class="ml-auto flex items-center">
        <a href="/" class="px-4 py-0 font-medium transition bg-theme-primary text-white rounded">&larr; Home</a>
      </div>
    </div>

    <!-- Tab Content -->
    <div v-if="activeTab === 'Code'" class="w-full h-full flex flex-col">
      <!-- Helper Buttons -->
      <div class="flex gap-2 m-2 flex-wrap">
        <button
          v-for="char in helperButtons"
          :key="char"
          class="px-2 py-1 bg-gray-700 rounded text-gray-300 font-medium hover:bg-gray-600 shadow-md shadow-theme-black"
          @click="insertText(char)"
        >
          {{ char }}
        </button>
      </div>

      <!-- Contenteditable Code Editor -->
      <div
        ref="editor"
        class="flex-grow w-full p-1 font-mono text-sm whitespace-pre overflow-y-auto bg-theme-code text-white"
        @keydown="handleKeydown"
        spellcheck="false"
        @blur="keepFocus"
      >
      </div>
      <div v-if="containsScanf" class="m-2 p-4 border rounded shadow-2xl bg-gray-300">
        <label for="scanf-inputs" class="text-black">Enter values for scanf:</label>
        <textarea
          id="scanf-inputs"
          v-model="scanfInputs"
          rows="4"
          class="w-full mt-2 px-4 py-2 bg-gray-800 text-white border border-gray-600 rounded"
        ></textarea>
      </div>
    </div>

    <!-- Output Tab -->
    <div v-if="activeTab === 'Output'" class="w-full h-full p-4 bg-theme-code text-white">
      <div v-if="loading" class="flex justify-center items-center h-full">
        <!-- Loading SVG -->
        <svg class="animate-spin h-8 w-8 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 2v20M2 12h20" />
        </svg>
      </div>
      <div v-else class="text-left">
        <pre>{{ output }}</pre>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { EditorView, keymap } from "@codemirror/view";
import { EditorState } from "@codemirror/state";
import { cpp } from "@codemirror/lang-cpp";
import { oneDark } from "@codemirror/theme-one-dark";
import { defaultKeymap } from "@codemirror/commands";

export default {
  data() {
    return {
      activeTab: "Code",
      code: "#include<stdio.h>\n\nint main () {\n  printf(\"Hello World!\");\n  return 0;\n}",
      output: "Run the code to see output here...",
      loading: false,
      helperButtons: ["\"", ";", "{", "}", "(", ")", "\\", "%", "[", "]", "#", "<", ">", "+", "-", "*", "/", "printf", "scanf"],
      client_secret: document.querySelector('meta[name="client-secret"]').content,
      scanfInputs: "",
      containsScanf: false,
      editor: null,
      intervalId: null,  // Store intervalId here in data
    };
  },
  methods: {
    insertText(char) {
      const editor = this.$refs.editor;
      if (document.activeElement !== editor) {
        editor.focus();
      }

      // Check if the inserted character is "printf" or "scanf"
      if (char === 'printf') {
        this.insertAtCursor('printf("");');
      } else if (char === 'scanf') {
        this.insertAtCursor('scanf("%d", &x);');
      } else {
        // For other characters, simply insert the character
        const selection = window.getSelection();
        const range = selection.getRangeAt(0);
        range.deleteContents();
        range.insertNode(document.createTextNode(char));
        selection.collapseToEnd();
      }

      this.updateCode();
    },
    
    insertAtCursor(text) {
      const editor = this.$refs.editor;
      const selection = window.getSelection();
      const range = selection.getRangeAt(0);

      // Insert the text at the cursor
      range.deleteContents();
      const textNode = document.createTextNode(text);
      range.insertNode(textNode);

      // Ensure the DOM is updated before setting the cursor
      this.$nextTick(() => {
        // Move the cursor to the position after the opening quote
        const insertedTextNode = textNode;
        const cursorPos = 1; // After the opening quote (index 1)

        const newRange = document.createRange();
        newRange.setStart(insertedTextNode, cursorPos);
        newRange.setEnd(insertedTextNode, cursorPos);

        const newSelection = window.getSelection();
        newSelection.removeAllRanges();
        newSelection.addRange(newRange);
      });
    },
    handleKeydown(event) {
      if (event.key === "Tab") {
        event.preventDefault();
        const selection = window.getSelection();
        const range = selection.getRangeAt(0);
        range.insertNode(document.createTextNode("\t"));
        selection.collapseToEnd();
      }
      this.updateCode();
    },
    updateCode() {
      this.code = this.$refs.editor.textContent;
      this.checkForScanf();
    },
    checkForScanf() {
      this.containsScanf = /scanf\s*\(/.test(this.code);
    },
    writeCode() {
      if(this.activeTab === "Code") return;
      this.activeTab = "Code";
      this.$nextTick(() => {
        this.addCode();
      });
    },
    async getOutput() {
      if (this.intervalId) return;
      if(this.containsScanf && this.scanfInputs.length == 0) {
        this.output = "Please enter values of scanf"
        this.activeTab = "Output";
        return;
      }

      this.loading = true;

      const request_url = "https://api.hackerearth.com/v4/partner/code-evaluation/submissions/";
      this.activeTab = "Output";

      if (!this.code.trim()) {
        this.output = "Code cannot be empty. Please write some code to execute.";
        this.loading = false;
        return;
      }

      this.output = "Compiling...";

      const payload = {
        lang: "C",
        source: this.code,
        input: this.scanfInputs,
        id: new Date().getTime(),
      };

      try {
        const response = await axios.post(request_url, payload, {
          headers: {
            "client-secret": this.client_secret,
            "content-type": "application/json",
          },
        });

        const { status_update_url } = response.data;
        this.pollForResult(status_update_url);
      } catch (error) {
        this.loading = false;
        this.output = error.response ? error.response.data : "An error occurred";
      }
    },
    async pollForResult(statusUpdateUrl) {
      // Set intervalId to track polling
      this.intervalId = setInterval(async () => {
        try {
          const response = await axios.get(statusUpdateUrl, {
            headers: {
              "client-secret": this.client_secret,
            },
          });

          const { request_status, result } = response.data;
          const { compile_status, run_status } = result || {};
          if (request_status.code === "REQUEST_COMPLETED") {
            clearInterval(this.intervalId);
            this.intervalId = null;  // Reset intervalId after completion
            const outputUrl = run_status.output;
            const outputResponse = await axios.get(outputUrl);
            this.output = outputResponse.data;
            this.loading = false;
          } else if (request_status.code === "CODE_COMPILED") {
            clearInterval(this.intervalId);
            this.intervalId = null;  // Reset intervalId after compilation
            this.output = compile_status;
            this.loading = false;
          }
        } catch (error) {
          clearInterval(this.intervalId);
          this.intervalId = null;  // Reset intervalId after error
          this.output = "An error occurred while fetching results.";
          this.loading = false;
        }
      }, 3000);
    },
    addCode() {
      const startState = EditorState.create({
        doc: this.code,
        extensions: [
          cpp(),
          oneDark,
          keymap.of(defaultKeymap),
          EditorView.updateListener.of((update) => {
            if (update.docChanged) {
              this.code = update.state.doc.toString();
            }
          }),
        ],
      });

      this.editor = new EditorView({
        state: startState,
        parent: this.$refs.editor,
      });
      this.$nextTick(() => {
        this.$refs.editor.focus();
      });
    },
    keepFocus() {
      this.$nextTick(() => {
        this.$refs.editor?.focus();
      });
    },
  },
  mounted() {
    this.addCode();
  },
  beforeUnmount() {
    if (this.editor) {
      this.editor.destroy();
    }
    if (this.intervalId) {
      clearInterval(this.intervalId);  // Clear interval when unmounting
    }
  },
};
</script>