@layer base {
    html {
        scroll-behavior: smooth;
        font-family: 'Poppins',sans-serif;
        @apply text-base
    }

    body {
        // ========================
        // Default print styles
        // ========================
        -webkit-print-color-adjust:exact ;
        print-color-adjust:exact;

        // ========================
        // Default text styles
        // ========================
        a {
            text-decoration: none;
            cursor: pointer;
        }

        img,
        video {
            max-width: 100%;
        }

        // ======================
        // Default heading styles
        // ======================
        h1 {
            @apply text-3xl text-black uppercase;

            @include media-breakpoint-up(md) {
                @apply text-4xl;
            }

            @include media-breakpoint-up(xl) {
                @apply text-5xl;
            }
        }
        h2 {
            @apply text-2xl text-black uppercase;

            @include media-breakpoint-up(md) {
                @apply text-3xl;
            }

            @include media-breakpoint-up(xl) {
                @apply text-4xl;
            }
        }

        h3 {
            @apply text-xl text-black uppercase;

            @include media-breakpoint-up(md) {
                @apply text-2xl;
            }

            @include media-breakpoint-up(xl) {
                @apply text-3xl;
            }
        }

        h4 {
            @apply text-lg text-black uppercase;

            @include media-breakpoint-up(md) {
                @apply text-xl;
            }

            @include media-breakpoint-up(xl) {
                @apply text-2xl;
            }
        }

        h5 {
            @apply text-base text-black uppercase;

            @include media-breakpoint-up(md) {
                @apply text-lg;
            }

            @include media-breakpoint-up(xl) {
                @apply text-xl;
            }
        }

        h6 {
            @apply text-sm text-black uppercase;

            @include media-breakpoint-up(md) {
                @apply text-base;
            }

            @include media-breakpoint-up(xl) {
                @apply text-lg;
            }
        }
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    #popular-product-slider::-webkit-scrollbar {
        width: 0;
        height: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(to top, var(--color1) 0%, transparent 100%);
        border-radius: 100px;
    }

    ::-webkit-scrollbar-track {
        background: var(--color13);
    }

    ::-webkit-scrollbar-track-piece {
        background: var(--color13);
    }
    a:hover {
        @apply text-theme-primary underline
    }
    .section {
        @apply mt-20;
    }
    object {
        html {
            @apply bg-red-500;
        }
    }
    .container {
        @apply px-2 md:px-0;
    }
}