@mixin btn-primary {
    @apply flex justify-center items-center px-4 py-2 rounded-lg bg-theme-primary text-white no-underline transition-all border-2 hover:border-theme-primary;
}

.button-primary {
    @include btn-primary;

    &:hover {
        background-color: transparent;
        color: var(--color1);
    }
}

.button-primary-sm {
    @include btn-primary;

    &:hover {
        background-color: transparent;
        color: var(--color1);
    }

    border-radius: var(--border-radius1);
    font-family: var(--cabin-regular);
    padding: 1.8rem 1.2rem;
    height: 3.2rem;
}
@media print {
    button {
        display: none !important;
    }
}