.list {
    @apply flex flex-col rounded overflow-hidden;
    &>li, &>a {
        @apply p-3 border;
    }
    &.list-flush {
        &>li, &>a {
            @apply p-3 border-x-0 border-y;
        }
    }
    &.list-flush.list-black {
        &>li, &>a {
            @apply p-3 border-x-0 border-y border-gray-900;
        }
    }
}