.i4t-collapse:not(.show) {
  @apply hidden
}
.collapsing {
  @apply h-0 overflow-hidden;
  transition: height 0.35s ease;
}
.menu-item {
  &>a {
    @apply block p-2 text-black no-underline font-bold;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
}
.menu-item {
    &>a:hover, &>a:focus {
      @apply text-theme-primary no-underline;
    }
}
.navbar {
  @apply relative flex flex-wrap items-center justify-between p-2 bg-white border-b
}
.navbar.sticky-top {
  @apply shadow-[0_1px_3px_#0002];
  .menu-item-has-children {
    @media (min-width: 640px) {
      .sub-menu {
        @apply shadow-[0_3px_3px_#0002];
      }
    }
  }
}

.navbar-nav {
  @apply flex flex-col ps-0 mb-0 list-none;
}
.navbar-nav .menu-item.current-menu-item>a {
  @apply text-theme-primary;
}

.navbar-collapse {
  @apply basis-full grow items-center
}

.navbar-toggler {
  @apply p-2 text-base text-black bg-transparent;
}

.navbar-toggler-icon {
  @apply inline-block w-6 h-6 align-middle;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center;
  background-size: 100%;
}

@media (min-width: 640px) {
  .navbar-expand-sm {
    @apply flex-wrap justify-start
  }
  .navbar-expand-sm .navbar-nav {
    @apply flex-row
  }
  .navbar-expand-sm .navbar-nav .menu-item>a {
    @apply px-2
  }
  .navbar-expand-sm .navbar-nav-scroll {
    @apply visible
  }
  .navbar-expand-sm .navbar-collapse {
    @apply flex flex-auto;
  }
  .navbar-expand-sm .navbar-toggler {
    @apply hidden
  }
}
.menu-item-has-children {
  @apply relative border-y;
  .sub-menu {
    position: static;
    z-index: 1000;
    display: block;
    min-width: 10rem;
    margin: 0;
    text-align: left;
    list-style: none;
    top: 100%;
    left: 0;
    background-color: white;
    margin-left: 1rem;
    font-size: 80%;
    a:hover {
      @apply bg-gray-100;
    }
    
  }
  @media (min-width: 640px) {
    @apply border-0;
    .sub-menu {
      @apply absolute ml-0 hidden;
    }
    &:hover .sub-menu {
      display: block;
      border: 1px solid #0002;
      border-top: 0;
      border-radius: 0 0 0.375rem 0.375rem;
    }
  }
}
.menu-item-has-children {
  &.current-menu-ancestor>a {
    @apply text-theme-primary
  }
  &>a::after{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
}
.sticky-top {
  @apply sticky top-0 z-[1020];
  animation: smoothScroll 0.3s alternate;
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0px);
  }
}