@mixin radio-check-input {
    @apply w-5 h-5 mr-1 align-top bg-white bg-no-repeat bg-center bg-contain border appearance-none transition-all;
}
@mixin radio-check-label {
    @apply text-gray-700 cursor-pointer;
}
label {
    display: inline-block;
}
/* Container div */

.radio-check-label {
    @include radio-check-label;
}
.radio-check-input {
    @include radio-check-input;
    float: left;
    cursor: pointer;
}
.radio-check-input[type='checkbox'] {
    border-radius: 0.3rem;
}
.radio-check-input:checked[type='checkbox'] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.radio-check-input:checked {
    background-color: var('--color1');
    border-color: var('--color1');
}

/*
* Different for radio
*/
.radio-check-input[type='radio'] {
    width: 1.9rem;
    border-radius: 50%;
}
.radio-check-input:checked[type='radio'] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
