.switch {
    .toggle--checkbox {
        display: none;
    }

    .toggle--checkbox:checked + .toggle--label {
        background: var(--color11);
        border-color: var(--color11);
        /** Change the cloud to stars **/
        /** Change the sun into the moon **/
        /** Show the dimples on the moon **/
    }

    .toggle--checkbox:checked + .toggle--label .toggle--label-background {
        left: 60px;
        width: 5px;
    }

    .toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
        width: 5px;
        height: 5px;
        top: -25px;
    }

    .toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
        width: 5px;
        height: 5px;
        left: -30px;
        top: 20px;
    }

    .toggle--checkbox:checked + .toggle--label:before {
        //background: var(--white);
        //border-color: var(--gray-border);
        animation-name: switch;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
        background: var(--color16);
    }

    .toggle--checkbox:checked + .toggle--label:after {
        transition-delay: 350ms;
        opacity: 1;
    }

    .toggle--label {
        /** Placeholder element, starting at blue **/
        width: 5.5rem;
        height: 3rem;
        background: var(--color13);
        border-radius: 999px;
        display: flex;
        position: relative;
        transition: all 500ms ease-in;
        cursor: pointer;
        /** The sun cloud and moon stars **/
        /** Sun/Moon element **/
        /** Gray dots on the moon **/
    }

    .toggle--label:before {
        animation-name: reverse;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
        transition: all 500ms ease-in;
        content: '';
        width: 2.2rem;
        height: 2.2rem;
        position: absolute;
        border-radius: 50%;
        background: var(--color1);
        top: 50%;
        transform: translateY(-50%);
    }

    @keyframes switch {
        0% {
            left: 4px;
        }
        60% {
            left: 60%;
        }
        100% {
            left: calc(100% - 2.5rem);
        }
    }
    @keyframes reverse {
        0% {
            right: 4px;
        }
        60% {
            right: 60%;
        }
        100% {
            right: calc(100% - 2.5rem);
        }
    }
}
