.table {
    @apply w-full rounded-lg text-center;
    tr {
        @apply [&:nth-child(odd)]:bg-blue-50 [&:nth-child(even)]:bg-gray-50;
        th {
            @apply border sm:p-1 md:p-3 text-sm md:text-lg;
        }
        td {
            @apply  sm:p-1 md:p-3 text-sm;
        }
    }
    &.table-stripe {
        tr {
            @apply [&:nth-child(odd)]:bg-blue-200 [&:nth-child(even)]:bg-gray-200;
            th {
                @apply border sm:p-1 md:p-3 text-sm md:text-lg;
            }
            td {
                @apply  sm:p-1 md:p-3 text-sm;
            }
        }
    }
}