@mixin text-field {
    @apply block w-full h-4 px-2 py-5 text-black bg-white bg-clip-padding border appearance-none rounded transition-all duration-300;
}

@mixin input-label {
    @apply text-gray-700;
}

label {
    @include input-label;
}

/*
* Text field validation.
*/
form {
    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='number'],
    input[type='tel'] {
        @include text-field;
        &.invalid {
            border: 0.1rem solid #F00;

            & + .invalid-feedback {
                display: block;
            }
        }

        &:not(:placeholder-shown) {
            border: 0.1rem solid #aaa;
        }
        &:focus {
            @apply text-black bg-white border-black outline-0;
        }
    }

    .invalid-feedback {
        @apply text-red-500;
    }

    .invalid-feedback::before {
        content: url(/images/icons/x-circle.svg);
        vertical-align: middle;
        width: 1.6rem;
        height: 1.6rem;
        line-height: 1.6rem;
    }

    .valid-feedback {
        @apply hidden text-green-500;
    }

    .valid-feedback::before {
        content: url(/images/icons/check-circle.svg);
        vertical-align: middle;
        width: 1.6rem;
        height: 1.6rem;
        line-height: 1.6rem;
    }
}
