.word-design {
    display: inline-block;
    position: relative;
    padding-top: 1rem;

    @include media-breakpoint-up('md') {
        padding-top: 0;
    }

    &:first-letter {
        @apply text-theme-primary;
    }

    &:before {
        @apply bg-theme-primary;
        content: '';
        height: 0.2rem;
        left: 0;
        position: absolute;
        transform: translateY(-1rem);
        width: 2.5rem;

        @include media-breakpoint-up('md') {
            top: 50%;
            transform: translate(-3rem, -50%);
            width: 2.5rem;
        }
    }
}
.print-only {
    @apply hidden;
}
@media print {
    .print-only {
        @apply block justify-end;
    }
}
