<template>
    <div class="grid">
      <Code />
    </div>
  </template>
  
  <script>
  import Code from './components/Code.vue';
  
  export default {
    components: {
      Code
    },
  };
  </script>