<template>
    <nav class="navbar navbar-expand-sm !bg-gradient-to-b from-[#acf] via-gray-[#eeefff] to-white" id="navbar">
        <div class="container mx-auto">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-menu" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="i4t-collapse navbar-collapse">
                <ul id="main-menu" class="navbar-nav">
                    <li class="menu-item"><a href="/">Home</a></li>
                    <li class="menu-item" v-if="isLoggedIn"><a :href="'/users/'+user.id+'/'+getEncodedString(user.name)">{{ user.name }}</a></li>
                    <li class="menu-item" v-else><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</template>
<script>
import { urlencode } from '../utils';
export default {
    data() {
        return {
            isLoggedIn: window.Laravel.isLoggedIn,
            user: window.Laravel.user || null,
        }
    },
    methods: {
        getEncodedString(url) {
            return urlencode(url);
        },
    },
};
</script>