<template>
    <div class="grid">
      <Game />
    </div>
  </template>
  
  <script>
  import Game from './components/Game.vue';
  
  export default {
    components: {
      Game
    },
  };
  </script>